.main {
    margin: auto;
    max-width: 90%;
    padding: 10px;
    text-align: center;
    font-size: 1.5vw;
    background-color: #00000018;
    border-radius: 20px;
}
.news {
    margin: auto;
    max-width: 60%;
    padding: 10px;
    text-align: center;
    font-size: 1.5vw;
    background-color: #00000018;
    border-radius: 20px;
}
.newsarticle {
    display: flex;
    margin: auto;
    max-width: fit-content;
    min-height: fit-content;
    padding: 10px;
    text-align: center;
    font-size: 1.5vw;
    background-color: #00000018;
    border-radius: 20px;
    justify-content: center;
}
.newsarticle > iframe{
    border-radius: 20px;
}
@font-face {
    font-family: 'OptiEagle'; /*a name to be used later*/
    src: url('OPTIEagle-Bold.otf'); /*URL to font*/
}
body{
    background-color: #0084CA;
    color: aliceblue;
    font-family: 'OptiEagle';
}
h2{
    font-family: 'OptiEagle';
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
}
a:link {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  a:visited {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  a:hover {
    text-decoration: none;
    color: rgb(197, 197, 197);
    font-family: Arial, Helvetica, sans-serif;

  }
  
  a:active {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

  }
  iframe{
    max-height: 16vw;
    max-width: 28vw;
  }